.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media(min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media(min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media(min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media(min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-network{
  border-radius: 6px;
  text-align: center;
  padding: 25px 0;
  background-color: #F0F3F9;
}

#fb-card{
  border-top: solid 4px hsl(208, 92%, 53%);
}

#twitter-card{
  border-top: solid 4px hsl(203, 89%, 53%);
}

#instagram-card{
  border-top: solid 4px;
  border-color: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
}

#youtube-card{
  border-top: solid 4px hsl(348, 97%, 39%);
}

.card-overview{
  font-size: 14px;
  border-radius: 6px;
  padding: 10px 15px;
  background-color: #F0F3F9;
}

.card-overview-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.network-user{
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.network-user img{
  padding-right: 5px;
}

.followers-count{
  font-weight: bold;
  font-size: 50px;
}

.followers-title{
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.green-variation{
  color: hsl(163, 72%, 41%);
}

.red-variation{
  color: hsl(356, 69%, 56%);
}

.card-big-number{
  color: black;
  font-size: 30px;
  font-weight: bolder;
}
